.middle {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

.title-color {
  color: var(--neutral-100);
}

.user-icon {
  filter: invert(100%) sepia(0%) saturate(1215%) hue-rotate(210deg) brightness(119%) contrast(100%);
}

/* Input */
.input-field {
  color: var(--neutral-100);
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 0.6px solid var(--Secondary-Colors-Color-4, #343B4F);
  background-color: var(--neutral-900);
}

.input-field::placeholder {
  color: var(--neutral-500);
}

.input-field:focus {
  outline: none;
  border: 0.05rem solid var(--secondary-5);
}