.card {
    border-radius: 8px;
    border: 0.6px solid var(--secondary-4);
    background-color: var( --neutral-700);
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    pointer-events: none;
  }
  
  .card::before {
    background: radial-gradient(
      var(--radius, 60rem) circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.05),
      transparent 30%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      var(--radius, 60rem) circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );
    z-index: 1;
  }

  .card > .card-content {
    height: auto;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    /* position: absolute; */
    z-index: 0;
  }